$main-font: 'Oswald';
$main-color: #7FBBBF;
$special-color:#5D5A5A;
$special-red:#9a1b05;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



#arrow_up {
    position: fixed;
    font-size: 48px;
    color: $special-red;
    bottom: 8%;
    right: 4%;
    transition: .2s ease-in;
    animation: pulse 4s infinite;
    z-index: 3;

    &:hover {
        color: $special-color;
    }


    @media (max-width: 766px) {
        display: none;
    }
}

#call_me {
    display: none;

    @media (max-width: 766px) {
        display: block;
        width: 15%;
        position: fixed;
        left: 4%;
        bottom: 8%;
        animation: pulse 4s infinite;
        z-index: 888;
    }

    @keyframes pulse {
        0% {
            transform: rotateZ(0);
        }

        25% {
            transform: rotateZ(45deg);

        }

        50% {
            transform: rotateZ(-45deg);

        }

        75% {
            transform: rotateZ(0);

        }

        100% {
            transform: rotateZ(0);
        }
    }
}

.top-info {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: rgb(94, 90, 90);
    z-index: 5;
    animation: moveright 2s ease-in-out;

    @media(max-width: 770px) {
        display: none;
    }

    &__icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-size: 15px;
        font-family: $main-font;



        @media (max-width:770px) {
            display: none;

        }

    }

}

.top-info i {
    display: inline-block;



    &:nth-last-child(1) {
        color: $main-color;
        letter-spacing: 5px;
    }
}

.top-info a:hover {
    border: none;
    font-size: 15px;


}

.header {
    position: fixed;
    top: 8vh;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 10%;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    animation: moveright 2s ease-in-out;

    @media (max-width: 766px) {
        display: none;
    }


}



.mobile-logo {
    display: none;

    @media (max-width: 766px) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
    }
}

.nav {
    display: flex;
    width: 60%;

    overflow: hidden;
    animation: moveright 2s ease-in-out;


    &__ul {
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        justify-content: flex-end;
    }

    &__li {
        padding-left: 20px;
        list-style-type: none;
        display: block;
        width: 30%;
        font-size: 15px;
        border-left: 1px solid black;


    }
}

a {
    text-decoration: none;
    font-family: $main-font;
    letter-spacing: 5px;
    color: $main-color;
    transition: .2s ease-in;

    &:hover {
        border-bottom: 1px solid $special-color;
        color: $special-color;
        font-size: 18px;


    }
}

.main {
    background-image: url('./hands.jpg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-y: 50%;
    width: 100%;
    height: 100vh;


    @media (max-width: 766px) {
        min-height: 100vh;
        background-position-y: 80%;


    }

    &__h2 {
        position: absolute;
        top: 45%;
        right: 10%;
        color: white;
        font-size: 30px;
        font-family: $main-font;
        text-shadow: 0 0 5px $special-color;
        animation: moveright 2s ease-in-out;

    }

    &__h1 {
        position: absolute;
        top: 45%;
        right: 10%;
        color: white;
        font-size: 150px;
        font-family: $main-font;
        text-shadow: 0 0 15px $special-color;
        animation: moveright 2s ease-in-out;

    }

    @keyframes moveright {
        0% {
            right: -10%;
            opacity: 0;
        }

        100% {
            right: 10%;
            opacity: 1;
        }
    }
}


.mobile-nav {
    display: block;
    position: absolute;
    top: -50px;
    left: -400px;
    transition: .3s;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid $main-color;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;


    &__li {
        list-style-type: none;
        text-align: center;
    }

    &__li>a {
        font-size: 48px;

        &:hover {
            border-bottom: 4px solid $special-color;
            color: $special-color;

        }

    }
}

.active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.ham_active {
    transform: rotate(90deg);
}

#hamburger {
    display: none;

    @media (max-width: 766px) {
        display: block;
        position: fixed;
        top: 3%;
        right: 5%;
        color: $special-color;
        font-size: 32px;
        transition: .3s;
        z-index: 5;


    }
}

.me {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: 10%;
    overflow: hidden;
    justify-content: space-around;


    @media (max-width: 766px) {
        min-height: 100vh;
    }

    &__info {
        color: $main-color;
        font-family: $main-font;
        font-size: 18px;
        width: 90%;
        padding: 3%;
        text-align: justify;
        background-color: #fff;


        @media (max-width: 766px) {
            width: 90%;
            padding: 3%;
            font-size: 15px;
        }
    }

    &__picture {
        float: right;
        padding-left: 3%;
        padding-bottom: 3%;


        @media (max-width: 766px) {
            display: none;
        }
    }
}

.room {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;


    @media (max-width: 766px) {
        min-height: 100vh;
    }

    &__images {
        margin: 35vh auto 5% auto;
        transition: .3s;

        &:hover {
            opacity: .5;
        }

        @media (max-width: 766px) {
            width: 320px;
            height: 240px;
            margin: 15% auto;
        }
    }
}

.services {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;


    @media (max-width: 766px) {
        min-height: 100vh;
    }

    &__prices {
        display: block;
        font-family: $main-font;
        font-size: 24px;
        margin: 35vh auto 5% auto;
    }
}

.contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    color: $main-color;
    font-family: $main-font;
    overflow: hidden;



    @media (max-width: 766px) {
        min-height: 100vh;
    }

    &__map {
        margin-top: 15%;
        border: none;

        @media (max-width: 766px) {
            display: none;
        }

    }

    &__info {
        display: block;
        margin-top: 20%;
        text-align: center;
        background-color: #fff;

        @media (max-width: 766px) {
            margin: auto 0;
            width: 70%;
        }
    }

    &__icons {
        display: block;
        margin-top: 5%;
        font-size: 32px;

        >a:hover {
            font-size: 32px;

        }
    }

    &__icon {
        padding-right: 50px;
    }


}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 5vh;
    background-color: $special-color;
    text-align: center;


    overflow: hidden;

    &__p {
        margin-top: 2.5vh;
        width: 100%;
        transform: translateY(-50%);
        color: $main-color;
        letter-spacing: 5px;

        @media(max-width: 1190px) {
            letter-spacing: 0;
        }
    }
}